<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CauseLabs Vue</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
                integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="row row-content">
                    <div class="col-12 col-sm-12"></div>
                        <h3>Current People:</h3>
                        <table id="display_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr> <th>Name</th> <th>Age</th> <th>Email</th> <th>Secret</th> <th>Select</th></tr>
                            </thead>
                            <tbody>
                                <tr v-for="person in people">
                                    <td>{{ person.first_name }} {{ person.last_name}}</td>
                                    <td>{{ person.age }}</td>
                                    <td>{{ person.email }}</td>
                                    <td>{{ person.secret }}</td>
                                    <td>
                                        <input v-if="person.pk > 2" type="checkbox" class="selection_checkbox" data-pk="person.pk"></input>
                                        <span v-else>&nbsp;</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="primary">Delete Selected</button>
                    </div>
                </div>
                <div class="row row-content" id="add-row">
                    <div class="col-12 col-sm-12 offset-sm-1">
                        <form class="form-horizontal" id="add-form" @submit.prevent="handle_submit">   <!-- method="post"  -->
                            <fieldset>
                                <h3>Add A Person:</h3>
                                <div class="form-group row">
                                    <!-- <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user"></i></span> -->
                                    <label for="fname" class="col-sm-2 col-form-label">First Name</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="fname" name="name" type="text" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!-- <span class="col-sm-1 col-md-offset-2 text-center"><i class="fa fa-user"></i></span> -->
                                    <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="lname" name="name" type="text" placeholder="Last Name">
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <!-- <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square"></i></span>  -->
                                    <label for="age" class="col-sm-2 col-form-label">Age</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="age" name="age" type="number" placeholder="Age">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <!-- <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o"></i></span> -->
                                    <label for="email" class="col-sm-2 col-form-label">Email Address</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="email" name="email" type="text" placeholder="Email Address">
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <!-- <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user"></i></span> -->
                                    <label for="secret" class="col-sm-2 col-form-label">Secret</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="secret" name="secret" type="text" placeholder="Secret">
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <div class="col-md-12 text-left">
                                        <button type="submit" class="btn btn-primary">Add Person</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
        <script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="main.js"></script>         
    </body>
</html>
